<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
</head>
<body>
    <h2>Lista de alunos com suas respectivas notas:</h2>
    <hr>

    {% for nome, nota in notas.items() %}
        <details>
            <summary>{{ nome }}</summary>
            <p>{{ nota }}</p>
        </details>
    {% endfor %}

    <hr>

    <h3>Diário do professor</h3>

    <ol>
        {% for registro in diario_professor %}
            <details>
                <summary>{{ registro.aluno }}</summary>
                <p>{{ registro.nota }}</p>
            </details>
        {% endfor %}
    </ol>

    <ol>
        <form action="{{ url_for('notas') }}" method="POST">
            <label>Aluno:</label>
            <input type="text" name="aluno" required>
            <label>Nota:</label>
            <input type="text" name="nota" required>
            <button>Adicionar</button>
        </form>
    </ol>


</body>
</html>